
<h1> Welcome to my second quiz! </h1>
<hr />
<% @packings.each do |packing| %>
  <div>
    <h1><%= packing.item %></h1><br />
    <p><%= packing.description %></p><br />
  </div>

  <hr />
<% end %>
<hr />
<br />