<!DOCTYPE html>
<html>
<head>
  <title>QuizOne</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="circle">
      QUIZ ONE
    </div>
  </header>

  <h1>
    Welcome to my first quiz!
  </h1>

<%= yield %>

</body>
</html>
